body {
	background: black;
}

table {
	float: left;
	width: 400px;
	padding-top: 20px;

}

section {
	padding-top: 42px;
}

th {
	width: 50px;
}

#munch {
	height: 75px;
	width: 100px;
	display: none;
	float: left;
}

.main-content {
	height: 600px;
}

#map {
	height: 100%;
}

.info-content {
	background: white;
}

.row {
	margin-bottom: 0px;
}

.info-header {
	padding: 2px;
}

#player-fish {
	width: 175px;
	height: 150px;
}

.s6 {
	height: 150px;
}

.collapsible-body {
	padding: 10px;
}

.display-content {
	border: 1px solid blue;
}